<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navbar.ejs') %>
    <main>
        
    </main>
<%- include('../includes/footer.ejs') %>